<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block nav_block %}
<div class="jumbotron"  align="center">
    <div class="container">
        <h1>Welcome to our Book Library </h1>
        {% if all_data %}
        <table border="2">
            <thead>
                <td>Title</td>
                <td>Auther</td>
                <td>Pages</td>
                <td>Price</td>
                <td colspan="2">Action</td>
            </thead>
            {% for data in all_data %}
            <tr>
                <td>{{data.title}}</td>
                <td>{{data.author}}</td>
                <td>{{data.pages}}</td>
                <td>{{data.price}}</td>
                <td><a href="/bookupdate/{{data.id}}">Update</a></td>
                <td><a href="/deletebook/{{data.id}}">Delete</a></td>
            </tr>
             {% endfor %}
        </table>
        {% else %}
        <h1>No data Found</h1>
        {% endif %}
        <hr>

        <a href="/bookform" class="btn btn-success">Insert Data</a>
    </div>
</div>
{% endblock %}